<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
声明student对象
注入就是赋值的意思
简单类型：spring中规定的基本数据类型和String都是简单类型；
di：给属性赋值
1.set注入（设置注入）spring调用类的set方法，你可以在set方法中完成属性赋值
1.1简单类型的set注入
   <bean id=“id” class="class">
      <property name="属性名字" value=“此属性的值”
   </bean>
 1.2引用类型的set注入：spring调用set方法
    <bean id=“id” class="class">
      <property name="属性名字" ref=“bean的id”
   </bean>
 2.构造注入：spring调用类的有参数构造方法，在创建对象的同时，在构造方法中给属性赋值
 构造注入使用<constructor-arg>标签，一个标签表示构造方法的一个参数
 标签属性<constructor-arg>：
    name: 表示构造方法的形参名
    index：表示构造方法的参数的位置，参数从左往右位置上是0，1，2，3，。。。
    value：构造方法的形参类型是简单类型的，使用value
    ref: 构造方法形参类型是引用类型的使用ref
-->
    <!--使用name属性实现构造方法-->
    <bean id="myschool" class="com.hbd.ba03.School">
        <property name="name" value="新东方" />
        <property name="address" value="北京" />
    </bean>
    <bean id="myStudent" class="com.hbd.ba03.Student" >
        <constructor-arg name="name" value="张三" />
        <constructor-arg name="age" value="20" />
        <constructor-arg name="school" ref="myschool" />
    </bean>
</beans>